# DataFrame

In [1]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

In [2]:
##copy and read to get data

In [5]:
nfl_frame=pd.read_clipboard()

In [6]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

### grab the column names

In [7]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

### retrieve individual column