In [9]:
import numpy as np 
import pandas as pd 
from pandas import Series, DataFrame

In [14]:
nfl_frame=pd.read_clipboard()

In [15]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East

# Show columns name

In [16]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

# To show specific columns

In [21]:
DataFrame(nfl_frame,columns=['Team','Lost','Tied'])

                   Team  Lost  Tied
0        Dallas Cowboys   367     6
1     Green Bay Packers   553    37
2         Chicago Bears   568    42
3        Miami Dolphins   341     4
4  New England Patriots   383     9
5       New York Giants   572    33

In [ ]:
#nfl_frame.columns=nfl_frame.columns.str.strip()
#print(nfl_frame.columns.tolist())
#to remove space

In [22]:
nfl_frame.Team

0          Dallas Cowboys
1       Green Bay Packers
2           Chicago Bears
3          Miami Dolphins
4    New England Patriots
5         New York Giants
Name: Team, dtype: object

In [23]:
nfl_frame['Total Games']

0      866
1    1,320
2    1,354
3      784
4      868
5    1,289
Name: Total Games, dtype: object

# shows row through indexing

In [24]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [25]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East

In [26]:
nfl_frame.ix[1:3]

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East

In [27]:
#create a Series
stadiums=Series(["Levi's stadium","AT&T stadium"],index=[4,0])
stadiums

4    Levi's stadium
0      AT&T stadium
dtype: object

In [33]:
#add the stadiums column to previous table 
nfl_frame['Stadiums']=stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadiums
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,AT&T stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's stadium
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,NaN

In [34]:
del nfl_frame['Stadiums']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East

In [35]:
#Index Objects

In [37]:
#create a Series 
my_ser=Series([1,2,3,4],index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [38]:
#another series
my_index=my_ser.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [39]:
my_index[2]

'C'

In [40]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [41]:
my_index[0]='Z'

TypeError: Index does not support mutable operations

# Reindexing

In [43]:
ser1=Series([1,2,3,4],index=['A','B','D','E'])
ser1

A    1
B    2
D    3
E    4
dtype: int64

In [44]:
ser2=ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    NaN
D    3.0
E    4.0
F    NaN
dtype: float64

In [48]:
ser3=ser2.reindex(['A','B','C','D','E','F','G','H'],fill_value=100)
ser3

A      1.0
B      2.0
C      NaN
D      3.0
E      4.0
F      NaN
G    100.0
H    100.0
dtype: float64

In [49]:
#another way 
ser4=Series(['USA','Mexico','Canada'],index=[0,5,10])
ser4

0        USA
5     Mexico
10    Canada
dtype: object

In [51]:
ser4.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [50]:
ranger=range(15)
ranger

range(0, 15)

In [52]:
from numpy.random import randn

In [55]:
dfram=DataFrame(randn(25).reshape((5,5)), index=['A','B','C','D','E'],columns=['col1','col2','col3','col4','col5'])
dfram

       col1      col2      col3      col4      col5
A -0.123548  1.270993  0.150236 -0.288114 -0.019272
B -1.366270 -1.179766  1.733841  1.104337  1.036380
C -2.578442 -0.107168 -1.554731 -1.941699 -1.157957
D  0.900269 -0.912097  0.971300 -0.781808  1.403563
E -1.130755 -0.793420 -0.730422 -0.330537  0.526380

In [57]:
dframe2=dfram.reindex(['A','B','G','C','D','E'])
dframe2

       col1      col2      col3      col4      col5
A -0.123548  1.270993  0.150236 -0.288114 -0.019272
B -1.366270 -1.179766  1.733841  1.104337  1.036380
G       NaN       NaN       NaN       NaN       NaN
C -2.578442 -0.107168 -1.554731 -1.941699 -1.157957
D  0.900269 -0.912097  0.971300 -0.781808  1.403563
E -1.130755 -0.793420 -0.730422 -0.330537  0.526380